{% extends 'base.html' %}

{% block main %}
<h1 style="color: white">Get Aptoide Information</h1>
<form action="/get-info" method="post" class="form">
    <label for="url">Enter URL of the desire Aptoide app</label>
    <input type="url" name="url" value="" required style="border-radius: 25px; height:25px;">
    <input type="submit" value="Submit" style="margin-right:25%;margin-left:25%;margin-top:10px">
</form>

<form action="/get-info-by-name" method="post" class="form">
  <label for="name">Enter name the desire Aptoide app</label>
  <input type="text" name="name" value="" style="border-radius: 25px; height:25px;">
  <input type="submit" value="Submit" style="margin-right:25%;margin-left:25%;margin-top:10px">
</form>

{% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <script>
          var messages = {{ messages | safe }};
          for (var i=0; i<messages.length; i++) {
            alert(messages[i]);
          }
        </script>
      {% endfor %}
    {% endif %}
{% endwith %}

{% endblock %}